<div class="search-section bg-light py-4 mb-4">
  <div class="container">
    <%= form_with url: products_path, method: :get, local: true, class: "row g-3" do |form| %>
      <div class="col-md-4">
        <%= form.text_field :search, 
            placeholder: "Search products...", 
            value: params[:search],
            class: "form-control" %>
      </div>
      
      <div class="col-md-3">
        <%= form.select :category_id, 
            options_for_select([['All Categories', '']] + 
                              Category.active.pluck(:name, :id), 
                              params[:category_id]),
            {}, 
            { class: "form-select" } %>
      </div>
      
      <div class="col-md-3">
        <%= form.select :condition, 
            options_for_select([['All Conditions', '']] + 
                              Product.conditions.keys.map { |k| [k.humanize, k] }, 
                              params[:condition]),
            {}, 
            { class: "form-select" } %>
      </div>
      
      <div class="col-md-2">
        <%= form.submit "Search", class: "btn btn-primary w-100" %>
      </div>
    <% end %>
  </div>
</div>
