<div class="container my-4">
  <div class="row">
    <div class="col-md-6">
      <img src="<%= @product.main_image %>" alt="<%= @product.name %>" class="img-fluid rounded">
    </div>
    
    <div class="col-md-6">
      <h1><%= @product.name %></h1>
      <p class="text-muted">Product ID: #<%= @product.id %></p>
      
      <div class="mb-3">
        <span class="h3 text-primary"><%= @product.formatted_price %></span>
      </div>
      
      <div class="mb-3">
        <span class="badge bg-<%= @product.in_stock? ? 'success' : 'danger' %> fs-6">
          <%= @product.in_stock? ? "In Stock (#{@product.quantity} available)" : "Out of Stock" %>
        </span>
      </div>
      
      <p><%= @product.description %></p>
      
      <% if user_signed_in? && @product.in_stock? %>
        <%= form_with url: cart_items_path, method: :post, local: true do |form| %>
          <%= form.hidden_field :product_id, value: @product.id %>
          <div class="row mb-3">
            <div class="col-4">
              <%= form.number_field :quantity, value: 1, min: 1, max: @product.quantity, 
                                   class: "form-control" %>
            </div>
            <div class="col-8">
              <%= form.submit "Add to Cart", class: "btn btn-primary btn-lg w-100" %>
            </div>
          </div>
        <% end %>
      <% elsif !user_signed_in? %>
        <div class="alert alert-info">
          <%= link_to "Login", "#" %> to add items to cart.
        </div>
      <% end %>
    </div>
  </div>
  
  <!-- Related Products -->
  <% if @related_products.any? %>
    <div class="row mt-5">
      <div class="col-12">
        <h3>Related Products</h3>
        <div class="row">
          <% @related_products.each do |product| %>
            <div class="col-md-3 mb-4">
              <div class="card h-100">
                <img src="<%= product.main_image %>" class="card-img-top" alt="<%= product.name %>" style="height: 150px; object-fit: cover;">
                <div class="card-body">
                  <h6 class="card-title"><%= product.name %></h6>
                  <p class="card-text text-primary"><%= product.formatted_price %></p>
                  <%= link_to "View", product, class: "btn btn-sm btn-outline-primary" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
